@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  background: white;
}

.menu_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_app img {
  margin-right: 1rem;
  cursor: pointer;
}

.menu_app h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: .34rem;
}

.menu_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_icon {
  margin-right: 1rem;
}

.avatar_image img {
  width: 2rem;
  height: 2rem;
}

.hamburger_open {
  display: none;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 7rem;
  padding: 1.7rem 2rem 0;
}

.hamburger_open img {
  margin-bottom: 3rem;
  cursor: pointer;
}

.hamburger_open ul li {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
}

.hamburger_open ul li a {
  color: black;
  cursor: pointer;
}

.product_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

.product_images {
  width: 100%;
}

.product_images img {
  width: 100%;
  height: 20rem;
}

.product_info {
  padding: 1rem;
}

.product_info h4 {
  color: #ff7d1a;
  margin-bottom: 1rem;
}

.product_info h1 {
  margin-bottom: 1rem;
}

.product_info p {
  margin-bottom: 1rem;
  color: #68707d;
}

.product_cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_cost div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_cost div .newPrice {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.product_cost div .discount {
  font-size: .8rem;
  background: #ffede0;
  padding: .2rem .5rem;
  color: #ff7d1a;
  border-radius: 20%;
}

.product_cost .original {
  font-size: 1rem;
  color: #b6bcc8;
  text-decoration: line-through;
}

.product_quantity {
  background: #f7f8fd;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 80% auto;
      grid-template-columns: auto 80% auto;
  padding: 1rem;
  border-radius: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.product_quantity button {
  background: #f7f8fd;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-size: 1.2rem;
  color: #ff7d1a;
  font-weight: 700;
}

.product_quantity .quantity_counter {
  font-size: 700;
}

.quantity_neg {
  cursor: pointer;
}

.quantity_plus {
  cursor: pointer;
}

.quantity_counter {
  margin: 0 auto;
}

.update_cart {
  background: #ff7d1a;
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.update_cart span {
  margin-left: 1rem;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */